<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Images url</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.images_url %></td>
        <td><%= product.colour %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <% @products.each do |product| %>
        <div class="col-sm-2 col-md-4">
          <h1><%= product.name %></h1>
          <%= image_tag(product.images_url, class: "img-responsive") %>
          <p><%= product.description %></p>
          <strong>$1000</strong>
        </div> <!-- /col -->
        <% end %>
      </div> <!-- /row -->
      
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
